<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748402670692-ls5v4khp5e4c696sa5a0e3qnbhm5phco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748402670692-ls5v4khp5e4c696sa5a0e3qnbhm5phco</string>
	<key>API_KEY</key>
	<string>AIzaSyBv8QVSIftt40bq5KWZsRaC32QtNq_QDOk</string>
	<key>GCM_SENDER_ID</key>
	<string>748402670692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chairsapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chairsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>chairsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748402670692:ios:e2cbfe606e45b0a527b371</string>
</dict>
</plist>